<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem atque odit vitae ea sint incidunt, itaque aut. Mollitia laborum earum itaque voluptatem facilis odit perspiciatis, quod culpa, quia voluptas id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magni, rem voluptatem dolores accusamus quidem, aliquam alias at officiis explicabo totam voluptate delectus est quis! Iusto expedita quibusdam autem possimus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores commodi voluptate? Optio molestias perferendis, possimus corporis fuga temporibus pariatur laborum, accusamus nisi nulla id nam, at assumenda repellat deserunt?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>